.description-1,
.description-2,
.description-3,
.description-4,
.description-5 {
  font-size: 16px;
}
.ant-card-head-title {
  background-color: #141414;
}
.ant-card-extra {
  border: 2px solid #141414;
  background-color: #141414;
}
.ant-btn-primary {
  background-color: rgb(20, 20, 20) !important;
  border: 1px solid rgb(61, 60, 60) !important;
}

@media screen and (min-width: 3840px) {
  .projects-heading {
    font-size: 40px;
  }
  .description-1,
  .description-2,
  .description-3,
  .description-4,
  .description-5 {
    font-size: 23px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    width: 80%;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1178px) {
  .description-1,
  .description-2,
  .description-3,
  .description-4,
  .description-5 {
    font-size: 11px;
  }
  .projects-heading {
    font-size: 25px;
  }
}
@media screen and (width: 1024px) {
  .description-1,
  .description-2,
  .description-3,
  .description-4,
  .description-5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 702px) {
  .description-1,
  .description-2,
  .description-3,
  .description-4,
  .description-5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 474px) {
  .description-1,
  .description-2,
  .description-3,
  .description-4,
  .description-5 {
    font-size: 15px;
  }
}
